.post_list {
	width: 100%;


	display: flex;
	flex-direction: column;

	background-color: #37393b;

	&_header {
		font-family: 'Red Rose', cursive;
		text-align: center;
    text-transform: uppercase;
		padding-bottom: 25px;
		font-size: 40px;
		color: #ffffff;
	}

}
